<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.self.common.persistence.mapper.generate.AuthPermissionMapper">
  <resultMap id="BaseResultMap" type="com.self.common.persistence.entity.AuthPermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
</mapper>