<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.self.common.persistence.mapper.generate.AuthPermissionMapper">
  <resultMap id="BaseResultMap" type="com.self.common.persistence.entity.AuthPermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
  </resultMap>
  <sql id="Base_Colum_List">
    id,name,url,permission,p_id,flag,icon,weight
  </sql>
    <select id="selectByRoleIds" resultMap="BaseResultMap">
      select
      ap.id,ap.name,ap.url,ap.permission,ap.p_id,ap.flag,ap.icon
      from
      auth_role_permission rp
      inner join auth_permission ap on rp.permission_id = ap.id
      where rp.role_id in
      <foreach close=")" collection="authUserRoles" index="num" item="role" open="(" separator=",">
        #{role.roleId}
      </foreach>
      order by weight desc;
    </select>
</mapper>